BLOGAPI__DB__URL=postgresql+asyncpg://user:pwd@localhost:5432/schema
BLOGAPI__DB__LOGIN=user
BLOGAPI__DB__PASS=pwd
BLOGAPI__DB__SCHEMA=schema
BLOGAPI__DB__ECHO=0
BLOGAPI__DB__ECHO_POOL=0
BLOGAPI__CACHE__URL=redis://:pwd@localhost:6379
BLOGAPI__CACHE__PASS=pwd
BLOGAPI__ES__URL=http://localhost:9200
